.promo {
  display: flex;
  flex-direction: column;
  padding-bottom: 2.4rem;
  &__text {
    margin-bottom: 2.4rem;
  }
  &__text-wrap {
    padding: 1.6rem;
  }
  &__image {
    width: 100%;
    height: auto;
  }
  &__btn {
    margin-bottom: 1.6rem;
  }
}

@media (min-width: 460px) {
  .promo {
    margin-bottom: 0;
    &__image {
      clip-path: polygon(0 10%, 100% 10%, 100% 90%, 0 90%);
    }
    &__btn {
      margin-bottom: 0;
    }
  }
}
@media (min-width: 768px) {
  .promo {
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 3rem;
    padding-inline: 2.4rem;
    &__text-wrap {
      width: clamp(31.2rem, 40vw, 49rem);
      padding: 0;
    }
    &__image-wrap {
      margin-inline: 0;
      width: 36rem;
    }
    &__image {
      clip-path: none;
    }
  }
}
@media (min-width: 1366px) {
  .promo {
    padding-inline: 3.4rem 2.8rem;
    &__image-wrap {
      margin-inline: 0;
      width: clamp(36rem, 33vw, 53.1rem);
    }
    &__image {
      clip-path: none;
    }
  }
}
