.input {
  box-sizing: border-box;
  width: 100%;
  max-width: 45rem;
  border-radius: 0.8rem;
  border: 1px solid var(--divider-color);
  background: #fff;
  padding: 1.2rem 1.6rem;
  color: #b5b6bc;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
  letter-spacing: -0.02rem;

  &--hid {
    display: none;
  }

  &::placeholder {
    color: #b5b6bc;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.4rem;
    letter-spacing: -0.02rem;
  }

  &:focus,
  &:active {
    outline: 1px solid var(--button-main-color);
  }
}
:focus::-webkit-input-placeholder {
  color: transparent;
}
