.nav-section {
  padding-top: 2.4rem;
  margin-bottom: 2.4rem;

  &__title-wrap {
    display: flex;
    justify-content: space-between;
  }
  &__title {
    margin-bottom: 2.4rem;
  }
  &__buttons {
    display: none;
  }
}
@media (min-width: 768px) {
  .nav-section {
    margin-bottom: 3.2rem;
  }
}
@media (min-width: 1366px) {
  .nav-section {
    margin-bottom: 2rem;
  }
}
