:root {
  --button-main-color: #ff3e79;
  --button-hover-color: #ffdce7;
  --button-second-color: #41f6d7;

  --border-section: #d9fff5;
  --divider-color: #eaeaea;
  --border-active-menu: #b8ffec;

  --text-color-main: #1b1c21;
  --text-color-second: #7e7e82;

  --second-bg-color: #ffffff;
  --main-bg-color: #f8f8f8;
  --gradient-section-header: linear-gradient(270deg, #f8f8f8 0%, #fff 98.61%);
}
